.header {
  width: 100%;
  z-index: 100;
  padding: 16px 0;
  transition: all 0.3s ease-in-out;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homeHeader {
  background: transparent;
  color: var(--color-white);
}

.pageHeader {
  background-color: var(--color-royal-blue-lightest);
  color: currentColor;
}

.desktopNav {
  display: none;
  align-items: center;
  gap: 40px;
}

.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 16px;
}

.menuBtn {
  border: 1px solid var(--opacity-transparent);
  border-radius: 8px;
  padding: 4px;
  width: 32px;
  height: 32px;
  background: var(--opacity-white-10);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobileActions {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media (min-width: 1440px) {
  .desktopNav {
    display: flex;
  }

  .navLink {
    padding: 16px 0;
  }

  .navLinkLight {
    font-size: 18px;
  }

  .menuBtn {
    display: none;
  }

  .mobileActions {
    display: none;
  }
}
